@model PetModel
@{
    ViewData["Title"] = "Cadastrar Pets";
}

<div class="container">
    
    <div class="form-image">
        <img src="/images/ImagemForms.svg" />
    </div>

    <div class="form">
        <form class="appointmen-form" id="appointmen-form" asp-controller="Pet" asp-action="Criar" method="post">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastre seu amiguinho peludo!</h1>
                </div>
                <div class="exit-button">
                    <button type="submit" asp-controller="Pet" asp-action="Index">Cancelar</button>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="Nome">Nome</label>
                    <input type="text" asp-for="Nome" id="Nome" mame="Nome" placeholder="Digite o nome do animal">
                    @Html.ValidationMessageFor(x => x.Nome)
                </div>
                <div class="input-box">
                    <label for="Tipo">Seu animal é um...</label>
                    <input type="text" asp-for="Tipo" id="Tipo" mame="Tipo" placeholder="Gato? Cachorro?">
                    @Html.ValidationMessageFor(x => x.Tipo)
                </div>
                <div class="input-box">
                    <label for="Raça">Raça</label>
                    <input type="text" asp-for="Raça" id="Raça" mame="Raça" placeholder="Raça do seu animal">
                    @Html.ValidationMessageFor(x => x.Raça)
                </div>
                <div class="input-box">
                    <label for="Cor">Cor</label>
                    <input type="text" asp-for="Cor" id="Cor" mame="Cor" placeholder="Cor do animal">
                    @Html.ValidationMessageFor(x => x.Cor)
                </div>
                <div class="input-box">
                    <label for="Peso">Peso</label>
                    <input type="number" asp-for="Peso" id="Peso" mame="Peso" placeholder="Digite o peso do animal">
                    @Html.ValidationMessageFor(x => x.Peso)
                </div>
                <div class="input-box">
                    <label for="DataNascimento">Datade nascimento</label>
                    <input type="date" asp-for="DataNascimento" id="DataNascimento" mame="DataNascimento">
                    @Html.ValidationMessageFor(x => x.DataNascimento)
                </div>
            </div>
                <div class="continue-button">
                    <button type="submit">Continuar</button>
                </div>
        </form>
    </div>
</div>


